.map-label {
	background-color: white;
	font-weight: 'normal';
	font-size: '14px';
	font-family: '"Poppins", Courier, Monospace';
	color: '#374151';
	padding: 0.75rem 1rem;
	border-radius: 4px;
	box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.363), 0px 10px 10px rgba(31, 41, 55, 0.04);

}

.map-label:after{ /*Triangulo*/
	content: "";
	width: 0;
	height: 0;
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #ffffff;
	top: 4.375rem;
	left: 40%;
}
