.css-16syyon {
  background: #007088 !important;
}
.css-e9m96y[data-checked] {
  background: #1789a3 !important;
  border-color: #1789a3 !important;
  color: #ffffff !important;
}
.css-xd664s[data-checked] {
  background: #1789a3 !important;
  border-color: #1789a3 !important;
  color: #ffffff !important;
}
