#scrollbar {
  width: none;
  scrollbar-color: #132749 #081120;
}

#scrollbar::-webkit-scrollbar {
  width: 0.45rem;
}

#scrollbar::-webkit-scrollbar-track {
  background: #edf2f7;
  border-radius: 2.3223rem;
  margin-bottom: 1.25rem;
}

#scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e0;
  border-radius: 2.3223rem;
}
